
/*.wrapper {
  width: 80%;
  height: 80%;
  border: 4px solid black;
}

#winner {
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3);
  font-weight: bold;
  color: black;
} */





@import url(https://fonts.googleapis.com/css?family=Monoton);

iframe {
  display: none;
}

#myProgress {
  /*margin: auto; */
  padding: 10px;
  width: 50%;
  background-color: transparent;
  position: absolute;
  bottom:0px;
  right:25%;
  left:50%;
  margin-left:-25%
}

#myBar {
  width: 0%;
  height: 10px;
  background-color: #49fb35
}





@keyframes movBox1 {
    0%   {left:0px; top:500px;}
    25%  {left:1000px; top:0px;}
    50%  {left:1000px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:0; top:600px;}
}

@keyframes movBox3 {
    0%   {left:-200px; top:1000px;}
    25%  {left:0px; top:-200px;}
    50%  {left:500px; top:-200px;}
    75%  {left:500px; top:500px;}
    100% {left:200px; top:-200px;}
}

body {
    /* background-image: url("http://ak4.picdn.net/shutterstock/videos/3931352/thumb/1.jpg"); */
    /*background-image: url("https://wallpaperscraft.com/image/stars_sky_night_113553_3100x1740.jpg"); */
     background-image: url("backgroundGalaxy.jpg");
    /* background-image: url('http://i.imgur.com/Gac9Tl1.jpg'); */
    /*background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/15-033i1.jpg"); */

    background-color: #cccccc;
    background-attachment: fixed;
    /*background: cover; */


}

#box1 {
  width: 100px;
  height: 100px;
 /* margin: 20px; */
  /*border: 4px solid black; */
  /*background-color: blue; */
  position: relative;
  top: 100px;
  /*background-image: url("http://clipart-library.com/img/1927810.png"); */

  /*animation: moveMyDiv 1s; */
  /*animation-fill-mode: forwards
  /* fill mode prevents the animation from resetting so the box
  does not reset and go to the far left after each iteration */

}

/*@keyframes moveMyDiv {
    from {top: 0px;}
    to {top: 100px;}
} */

#box2 {
  width: 200px;
  height: 200px;
  /*margin: 20px; */
  border: 4px solid black;
  /*background-color: red; */
  font-size: 40px;
  position: relative;
  top: 400px;
  animation: movBox1 8s linear 1s infinite alternate;
}

#box3 {
  width: 200px;
  height: 200px;
  /*margin: 20px; */
  /*border: 4px solid black; */
  font-size: 40px;
  position: absolute;
  animation: movBox3 10s linear 2s infinite alternate;
  /*animation: example 5s linear 2s infinite alternate; */
}

#asteroid2 {
  /*height: auto;
  width: auto; */
  max-width: 250px;
  max-height: 250px;
  float: left;
  /*margin: 0 auto; */
}

#asteroid3 {
  max-width: 300px;
  max-height: 300px;
  float: left;
}

  /*animation: moveMyDiv 1s;
  animation-fill-mode: forwards */

 #spaceshuttle {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
 }

#button {
  display: inline-block;
  margin: 12px;
  padding: 5px 15px;
  font-size: 15px;
  border: 3px solid #1D0444;
  border-radius: 30px;
  cursor: pointer;
  background-color: #49fb35;
  transition: 0.2s all;
}

#button:hover {
    background-color: transparent;
    color: white;
}




/* edited and customized code from the following website to get the typewriter
font effect for the "game over" message, and switched font for a retro font
https://codemyui.com/auto-type-content-pure-css/
*/
@-webkit-keyframes typing { from { width: 0; }  }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h3 {
  /*font: bold 1000% Consolas, Monaco, monospace; */
  font-family: 'Monoton';
  font-size: 700%;
  text-align: center;
  color: white;
  border-right: .1em solid black;
  /*width: 16.5em;
  width: 21ch; */
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
             blink-caret .5s step-end
}

.flexcontainer {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.collision {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputbox {
  /*min-height: 100vh; */
  /*margin: 0 auto; */
  /*display: flex;
  justify-content: center;
  align-items: center; */
  background-color: transparent;
  text-align: center;

}

label {
  color: red;
  font-family: 'Monoton';
  font-size: 700%;
  text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid green;
    background: transparent;
    color: red;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat Alternates';
}



